@page
@model CamposRepresentacoes.Pages.Pedidos.CadastrarModel
<!DOCTYPE html>
<html>
<head>
    <!-- Importação de estilos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css">
    <!-- Importação de scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/js/adminlte.min.js"></script>

    <!-- Estilos aqui -->
    <style>
        #carrinhoIcon {
            position: initial;
            top: 20px;
            right: 20px;
            z-index: 999; /* Garante que o ícone fique acima do conteúdo */
        }
    </style>
</head>
<body>
    <!-- Ícone do carrinho -->
    <a href="#" id="carrinhoIcon">
        <i class="fas fa-shopping-cart"></i>
        <span id="carrinhoItemCount" class="badge bg-primary"></span>
    </a>
    <div class="container mt-5">
        <form>
            <!-- Seleção de Cliente, Fornecedor, Transportadora e Forma de Pagamento -->
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="clienteSelect">Selecione o Cliente:</label>
                            <select class="form-control" asp-for="Pedido.IdCliente" id="clienteSelect">
                                <option value="">Selecione...</option>
                                @if (Model.Clientes != null)
                                {
                                    @foreach (var cliente in Model.Clientes)
                                    {
                                        <option value="@cliente.Id">@cliente.RazaoSocial</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fornecedorSelect">Selecione o Fornecedor:</label>
                            <select class="form-control" asp-for="Pedido.IdFornecedor" id="fornecedorSelect">
                                <option value="">Selecione...</option>
                                @if (Model.Fornecedores != null)
                                {
                                    @foreach (var fornecedor in Model.Fornecedores)
                                    {
                                        <option value="@fornecedor.Id">@fornecedor.RazaoSocial</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="transportadoraSelect">Selecione a Transportadora:</label>
                            <select class="form-control" asp-for="Pedido.IdTransportadora" id="transportadoraSelect">
                                <option value="">Selecione...</option>
                                @if (Model.Transportadoras != null)
                                {
                                    @foreach (var transportadora in Model.Transportadoras)
                                    {
                                        <option value="@transportadora.Id">@transportadora.RazaoSocial</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="formaPagamentoSelect">Forma de Pagamento:</label>
                            <select class="form-control" asp-for="Pedido.FormaPagamento" id="formaPagamentoSelect">
                                <option value="">Selecione...</option>
                                <option value="1 - Cartao de Credito">Cartão de Crédito</option>
                                <option value="2 - Boleto Bancario">Boleto Bancário</option>
                                <option value="3 - 30/60/90">30/60/90</option>
                                <option value="4 - Vini Paga">Vini Paga</option>
                                <!-- Adicione outras opções conforme necessário -->
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Botão para buscar produtos -->
                <button id="btnBuscarProdutos" class="btn btn-primary mt-2">Buscar Produtos do Fornecedor</button>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="tabelaProdutos" class="table table-bordered table-striped">
                            <h2>Produtos</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nome Produto</th>
                                        <th>Descrição</th>
                                        <th>Preço</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody id="corpoTabelaProdutos">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <!-- Incluir jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            // Verificar a seleção de campos antes de habilitar o botão de buscar produtos
            $('#clienteSelect, #fornecedorSelect, #transportadoraSelect, #formaPagamentoSelect').change(function () {
                var clienteSelecionado = $('#clienteSelect').val();
                var fornecedorSelecionado = $('#fornecedorSelect').val();
                var transportadoraSelecionada = $('#transportadoraSelect').val();
                var formaPagamentoSelecionada = $('#formaPagamentoSelect').val();

                if (clienteSelecionado && fornecedorSelecionado && transportadoraSelecionada && formaPagamentoSelecionada) {
                    $('#btnBuscarProdutos').prop('disabled', false);
                } else {
                    $('#btnBuscarProdutos').prop('disabled', true);
                }
            });

            $('#btnBuscarProdutos').click(function () {
                var idFornecedor = $('#fornecedorSelect').val();
                if (!idFornecedor) {
                    alert("Por favor, selecione um fornecedor antes de buscar os produtos.");
                    return;
                }
                carregarProdutosFornecedor(idFornecedor);
            });

            function carregarProdutosFornecedor(idFornecedor) {
                $.ajax({
                    url: '/Pedidos/Cadastrar?handler=ObterProdutosPorFornecedor',
                    type: 'GET',
                    data: { IdFornecedor: idFornecedor },
                    dataType: 'json',

                    success: function (result) {
                        console.log("Requisição bem sucedida. Dados recebidos:", data);
                        // Limpar a tabela antes de adicionar os novos produtos
                        $('#corpoTabelaProdutos').empty();

                        if (result && result.length > 0) {
                            // Preencher a tabela com os produtos recebidos
                            result.forEach(function (produto) {
                                var linhaProduto = '<tr>' +
                                    '<td>' + produto.nome + '</td>' +
                                    '<td>' + produto.descricao + '</td>' +
                                    '<td>' + produto.preco + '</td>' +
                                    '<td><button onclick="adicionarProduto(' + produto.id + ')" class="btn btn-primary">Adicionar</button></td>' +
                                    '</tr>';

                                $('#corpoTabelaProdutos tbody').append(linhaProduto);
                            });
                        }
                        else {
                            $('#corpoTabelaProdutos tbody').html('<tr><td colspan="6">Nenhum produto encontrado!</td></tr>');
                        }                        
                    },
                    error: function (xhr, status, error) {
                        console.error('Erro ao carregar produtos:', error);
                    }
                });
            }
        });

    </script>
}
