@page
@model CamposRepresentacoes.Pages.Pedidos.CadastrarModel
@{

}

<!DOCTYPE html>
<html>
<body>
    <div class="row no-print">
        <div class="container mt-5">
            <form method="post" asp-page-handler="SalvarPedido">
                @Html.AntiForgeryToken()
                <div>
                    <div class="card-header bg-principal border-0 pt-2 pb-2">
                        <h5 class="card-title"><i class="fas fa-shopping-cart mr-2"></i>Cadastro de Pedido</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus text-white"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card card-body">
                        <div id="loading" style="display:none"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="clienteSelect">Selecione o Cliente:</label>
                                    <select class="form-control" asp-for="Pedido.IdCliente" id="clienteSelect" required>
                                        <option value="">Selecione...</option>
                                        @if (Model.Clientes != null)
                                        {
                                            @foreach (var cliente in Model.Clientes)
                                            {
                                                <option value="@cliente.Id">@cliente.RazaoSocial</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fornecedorSelect">Selecione o Fornecedor:</label>
                                    <select class="form-control" asp-for="Pedido.IdFornecedor" id="fornecedorSelect" required>
                                        <option value="">Selecione...</option>
                                        @if (Model.Fornecedores != null)
                                        {
                                            @foreach (var fornecedor in Model.Fornecedores)
                                            {
                                                <option value="@fornecedor.Id">@fornecedor.RazaoSocial</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="transportadoraSelect">Selecione a Transportadora:</label>
                                    <select class="form-control" asp-for="Pedido.IdTransportadora" id="transportadoraSelect" required>
                                        <option value="">Selecione...</option>
                                        @if (Model.Transportadoras != null)
                                        {
                                            @foreach (var transportadora in Model.Transportadoras)
                                            {
                                                <option value="@transportadora.Id">@transportadora.RazaoSocial</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="formaPagamentoSelect">Forma de Pagamento:</label>
                                    <select class="form-control" asp-for="Pedido.FormaPagamento" id="formaPagamentoSelect" required>
                                        <option value="">Selecione...</option>
                                        <option value="1 - Cartao de Credito">Cartão de Crédito</option>
                                        <option value="2 - Boleto Bancario">Boleto Bancário</option>
                                        <option value="3 - 30/60/90">30/60/90</option>
                                        <option value="4 - Vini Paga">Vini Paga</option>
                                        <!-- Adicione outras opções conforme necessário -->
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer pt-2 pb-2">
                            <div class="float-right">
                                <a asp-page="/Pedidos/Cadastrar" class="btn btn-default elevation-1"><i class="fas fa-eraser"></i> Limpar</a>
                                <button type="submit" class="btn btn-info elevation-1"><i class="fas fa-save"></i> Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>                
            </form>
        </div>        
    </div>
</body>
</html>
