@page
@using Newtonsoft.Json;
@model CamposRepresentacoes.Pages.Pedidos.DetalhesModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Detalhes do Pedido</title>
</head>
<body>
    <div class="title-container">
        <div>
            <h2>Informações do Pedido</h2>
            <p><strong>Cliente:</strong>  @Model.Pedido.RazaoSocialCliente</p>
            <p><strong>Fornecedor:</strong>  @Model.Pedido.RazaoSocialFornecedor</p>
            <p><strong>Transportadora:</strong> @Model.Pedido.RazaoSocialTransportadora</p>
            <p><strong>Forma de Pagamento:</strong>  @Model.Pedido.FormaPagamento</p>
        </div>
    </div>

    <!--Tabela com a lista de itens do Pedido-->
    @if (Model.ItensPedido != null)
    {
        <div class="row mt-4">
            <div class="col-12">
                <div class="card shadow-lg" id="filter">
                    <div class="card-body p-0 bg-principal">
                        <div class="card-header bg-principal border-0 pt-2 pb-2 d-flex justify-content-between align-items-right">
                            <h5 class="card-title"><i class="fas fa-clipboard-list"></i> Lista de Produtos</h5>
                            <form method="post" asp-page-handler="GerarPdf">
                                <input type="hidden" name="idPedido" value="@Model.Pedido.Id" />
                                <button type="submit" class="btn btn-danger elevation-1">
                                    <i class="fas fa-file-pdf"></i> Gerar PDF
                                </button>
                            </form>
                        </div>
                        <div class="card-body">
                            <table id="pedido-table" class="table table-sm table-bordered table-striped bg-white text-sm">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Descrição</th>
                                        <th>Preço</th>
                                        <th>Quantidade</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ProdutosPedido)
                                    {
                                        <tr>
                                            <td>@item.Nome</td>
                                            <td>@item.Descricao</td>
                                            <td>@string.Format("{0:C}", item.ValorUnitario)</td>
                                            <td>@item.TotalProduto</td>
                                            <td>@string.Format("{0:C}", item.ValorTotal)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Model.Pedido == null)
    {
        <div class="row mt-4">
            <div class="col-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="m-0 text-center text-muted"><i class="fas fa-info-circle mr-2"></i>Não foram encontrados resultados para sua pesquisa.</p>
                    </div>
                </div>
            </div>
        </div>
    }

    @section scripts {

        <script>
            $('#produto-table').DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": false,
                "language": {
                    "url": "/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables/pt-BR.json"
                }
            });
        </script>
    }
</body>
</html>
